@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@media (max-width: 900px){
  section .text-container{
    flex-direction: row;
  }
}
@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  background: pink;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
font-family: playball;
  text-decoration: none;
  color: darkorchid;
  font-size: 35px;
  font-weight: 600;
}

.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
font-family: playball;
  text-decoration: none;
  color: darkorchid;
  font-size: 25px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: darkorchid;
  color: lightpink;
}
.img{
  background:url("../IMAGES/BANNER/bannerservices.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  font-family: playball;
  color:darkorchid;
  font-size: 70px;
  font-weight: 300;
}
.center .sub_title{
  font-family: playball;
  color: darkorchid;
  font-size: 55px;
  font-weight: 300;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid orchid;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns a button:first-child{
  color: darkorchid;
  background: none;
}
.btns a button:first-child:hover{
  background: lightpink;
  color: hotpink;
}
.center .btns  button:last-child{
  background: darkorchid;
  color: lightpink;
  width: 200px;
  height: 56px;
}
.btns  button:last-child:hover{
  background: hotpink;
  color: #FBB9E8;
}
body {
	background-color: #FFE4FC;
	overflow-x: hidden;
}
.heading {
   font-family: playball;
   color: darkorchid;
   font-size:60px;
   text-align: center;
}
.img-loaded{
	width:100%;
	height:auto;
	max-width:250px;
	max-height:250px;
	border-radius:360px 360px 360px 360px;
}


.img_ser
{
	height:300px;
	background-size:100% 100%;
	transition:transform 1s;
	opacity:1;
}
.img_ser:hover
{
	cursor:pointer;
	transform:scale(1.1);
	opacity:0.5;
}
.general
{
overflow:hidden;
		
}
.general img
{
	width:100%;
	height:100%;
	transition:transform 1s;
}

iframe{
	margin-bottom: auto;
}
h4 {
  font-weight: 1000;
  font-size: 35px;
  font-family: playball;
  color: darkorchid;
 
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
}
section .text-container{
   display:flex;
}
section .text-container .text-box{
  margin: 5px;
  padding: 0px;
  background:#FFE4FC ;
}
.img-sec{
	border-radius: 10%;
}
.img-sec:hover{
	
}


.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}


.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.wrapper {
  background:#FFDCF3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.card1 {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.o1 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:  orchid;
  overflow: hidden;
  width: 100%;
  height:0;
  opacity:0.7;
  transition: 0.5s ease;
  border-radius: 10%;
}

.card1:hover .o1 {
  bottom: 0;
  height: 100%;
	
}

.text {
  color: white;
  font-size: 50px;
  position: absolute;
  font-family:playball;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.footer-section {
	background: pink;
	padding-top: 75px;
	
}
.footer-left {
	margin-bottom: 30px;
	margin-left: 5px;
}


.footer-left .footer-logo {
	margin-bottom: 24px;
}
.footer-left ul li {
	list-style: none;
	color: mediumorchid;
	font-size: 16px;
	line-height: 25px;
}
footer-left .footer-social {
	padding-top: 25px;
	color: orchid;
}

.footer-left .footer-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: orchid;
	color: darkorchid;
	text-align: center;
	border-radius: 50%;

	margin-left:20px;
	position: relative;
	z-index: 1;
}

.footer-left .footer-social a i {
	margin:10px 0px 0px 0px;
}
.footer-left .footer-social a:hover:before {
	opacity: 0;
}

.footer-left .footer-social a:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: pink;
	content: "";
	border-radius: 50%;
	opacity: 0.5;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: -1;
}


.footer-widget {
	margin-bottom: 30px;
	color: mediumorchid;
}
.foot {
	color: darkorchid;
	margin-bottom: 30px;
	margin-left: 35px;
	font-family: playball;
	font-size: 20;
	
}


.footer-widget ul li {
	list-style: none;
	color: orchid;
}
.footer-widget ul li a {
	line-height: 35px;
	font-size: 16px;
	color: orchid;
}
.footer-widget ul li:hover{
	background: darkorchid;
	cursor: pointer;
}
.questions{
	font-size: 30px;
	font-family: playball;
	color: purple;
}
.answer{
	text-align: center;
	text-align:justify; 
	font-family: playball;
	font-size: 25px;
	color: darkorchid;
}
.answer:hover{
	cursor: pointer;
}
form table tr td{
	font-family: playball;
	color: orchid;
}
.lable{
	font-family: playball;
	font-size: 100px;
	color: orchid;
}
.container{
  width: 100%;
  background: pink;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: pink;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: darkorchid;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #FFE4E9;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: orchid;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}


