.footer-section {
	background: #C7F8FC;
	padding-top: 75px;
}
.footer-left {
	margin-bottom: 30px;
}


.footer-left .footer-logo {
	margin-bottom: 24px;
}
.footer-left ul li {
	list-style: none;
	color: darkgreen;
	font-size: 16px;
	line-height: 25px;
}
footer-left .footer-social {
	padding-top: 25px;
}

.footer-left .footer-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #434445;
	color: #00FFC3;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;

	margin-left:20px;
	position: relative;
	z-index: 1;
}

.footer-left .footer-social a i {
	margin:10px 0px 0px 0px;
}
.footer-left .footer-social a:hover:before {
	opacity: 0;
}

.footer-left .footer-social a:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #009862;
	content: "";
	border-radius: 50%;
	opacity: 0.5;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: -1;
}


.footer-widget {
	margin-bottom: 30px;
}
.foot {
	color: darkgreen;
	font-weight: 950;
	margin-bottom: 30px;
	margin-left: 35px;
	
}

.footer-widget h5 {
	color: darkgreen;
	font-weight: 900;
	margin-bottom: 22px;
	margin-left: 30px;
}
.footer-widget ul li {
	list-style: none;
}
.footer-widget ul li a {
	line-height: 35px;
	font-size: 16px;
	color: darkgreen;
}

.heading {
   font-family: playball;
   color: darkgreen;
   font-size:50px;
}
.inner-banner {
  background-image: url("../IMAGES/BANNER/banner2.O.png");
  padding: 50px 0 0px;
	overflow: hidden;
}

.inner-banner .inner-title {
  margin-bottom: 0px;
}

.inner-banner .inner-title h3 {
  font-size: 60px;
  font-family: playball;
  color: darkgreen;
  margin-bottom: 0px;
}
.inner-img {
  margin-top: 0px;
  margin-left: 31px;
}
body {
	background-color: #E8F9F6;
	overflow-x: hidden;
}
h4 {
  font-size: 40px;
  font-family: playball;
  color: darkgreen;
  margin-bottom: 0px;
}
.nav-text{
	font-family: playball;
  color: darkgreen;
	
}
.dd{
	background-color: #aedee2;
}
.nn{
	font-size: 23px;
}
.img-loaded{
	width:100%;
	height:auto;
	max-width:250px;
	max-height:250px;
	border-radius:360px 360px 360px 360px;
}

.img_ser
{
	height:300px;
	background-size:100% 100%;
	transition:transform 1s;
	opacity:1;
}
.img-loaded:hover
{
	cursor:pointer;
	transform:scale(1.1);
	opacity:0.5;
}
.general
{
overflow:hidden;
		
}
.general img
{
	width:100%;
	height:100%;
	transition:transform 1s;
}
img:hover
{
	cursor:pointer;
	transform:scale(1.1);
}
.card_body{
	background-color: #E8F9F6;
	text-align: center;
	font-family: playball;
	color: darkgreen;
}

.card1 {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.o1 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:  #00FCCF;
  overflow: hidden;
  width: 100%;
  height:0;
  opacity:0.7;
  transition: 0.5s ease;
}

.card1:hover .o1 {
  bottom: 0;
  height: 100%;
}

.text {
  color: darkgreen;
  font-size: 30px;
  position: absolute;
  font-family:playball;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sed{
	background-color: #aedee2;
}
.nav_text{
	font-family: playball;
  color: darkgreen;
	font-weight: 100px;
}






