.footer-section {
	background: #FF736A;
	padding-top: 75px;
}
.footer-left {
	margin-bottom: 30px;
}


.footer-left .footer-logo {
	margin-bottom: 24px;
}
.footer-left ul li {
	list-style: none;
	color: darkred;
	font-size: 16px;
	line-height: 25px;
}
footer-left .footer-social {
	padding-top: 25px;
}

.footer-left .footer-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: darkred;
	color: #FF8083;
	text-align: center;
	border-radius: 50%;

	margin-left:20px;
	position: relative;
	z-index: 1;
}

.footer-left .footer-social a i {
	margin:10px 0px 0px 0px;
}
.footer-left .footer-social a:hover:before {
	opacity: 0;
}

.footer-left .footer-social a:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: red;
	content: "";
	border-radius: 50%;
	opacity: 0.5;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: -1;
}


.footer-widget {
	margin-bottom: 30px;
}
.foot {
	color: #ffffff;
	font-weight: 950;
	margin-bottom: 30px;
	margin-left: 35px;
	
}

.footer-widget h5 {
	color: #ffffff;
	font-weight: 900;
	margin-bottom: 22px;
	margin-left: 30px;
}
.footer-widget ul li {
	list-style: none;
}
.footer-widget ul li a {
	line-height: 35px;
	font-size: 16px;
	color: darkred;
}

.heading {
   font-family: playball;
   color: orangered;
   font-size:50px;
}
.inner-banner {
  background-color: #FFC5C2;
  padding: 50px 0 0px;
	overflow: hidden;
}

.inner-banner .inner-title {
  margin-bottom: 0px;
}

.inner-banner .inner-title h3 {
  font-size: 60px;
  font-family: playball;
  color: orangered;
  margin-bottom: 0px;
}
.inner-img {
  margin-top: 0px;
  margin-left: 31px;
}
body {
	background-color: #FFDEDC;
	overflow-x: hidden;
}
h4 {
  font-size: 40px;
  font-family: playball;
  color: orangered;
 
}
.nav-text{
	font-family: playball;
  color: orangered;
	
}
.dd{
	background-color: #FFC5C2;
}
.nn{
	font-size: 23px;
}
.img-loaded{
	width:100%;
	height:auto;
	max-width:250px;
	max-height:250px;
	border-radius:360px 360px 360px 360px;
}

.img_ser
{
	height:300px;
	background-size:100% 100%;
	transition:transform 1s;
	opacity:1;
}
.img_ser:hover
{
	cursor:pointer;
	transform:scale(1.1);
	opacity:0.5;
}
.general
{
overflow:hidden;
		
}
.general img
{
	width:100%;
	height:100%;
	transition:transform 1s;
}
img:hover
{
	cursor:pointer;
	transform:scale(1.1);
}
.card_body{
	background-color: #E8F9F6;
	text-align: center;
	font-family: playball;
	color: orangered;
}
.for {
   font-family: playball;
   color: orangered;
   font-size:40px;
   text-align: center;
   margin-left: 0px;
   margin-top: 50px

}
iframe{
	margin-bottom: auto;
}



